features.txt
node_modules/bootstrap-icons/LICENSE.md
node_modules/bootstrap-icons/README.md
node_modules/bootstrap-icons/bootstrap-icons.svg
node_modules/bootstrap-icons/font/bootstrap-icons.json
node_modules/bootstrap-icons/font/fonts/
node_modules/bootstrap-icons/font/index.html
node_modules/bootstrap-icons/icons/
node_modules/bootstrap-icons/package.json
node_modules/bootstrap/LICENSE
node_modules/bootstrap/README.md
node_modules/bootstrap/dist/css/
node_modules/bootstrap/dist/js/bootstrap.bundle.js
node_modules/bootstrap/dist/js/bootstrap.bundle.js.map
node_modules/bootstrap/dist/js/bootstrap.bundle.min.js
node_modules/bootstrap/dist/js/bootstrap.bundle.min.js.map
node_modules/bootstrap/dist/js/bootstrap.esm.js
node_modules/bootstrap/dist/js/bootstrap.esm.js.map
node_modules/bootstrap/dist/js/bootstrap.esm.min.js
node_modules/bootstrap/dist/js/bootstrap.esm.min.js.map
node_modules/bootstrap/dist/js/bootstrap.js
node_modules/bootstrap/dist/js/bootstrap.js.map
node_modules/bootstrap/dist/js/bootstrap.min.js.map
node_modules/bootstrap/js/
cleaner.js
node_modules/bootstrap/package.json
node_modules/bootstrap/scss/
package-lock.json
style.css.map