*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    scroll-behavior: smooth;
}
a{
    text-decoration: none !important; 
}
p, button, li{
    /* font-weight: bolder; */
    font-weight: 600;
    /* color: rgba(234, 225, 222, 0.85) !important; */
    color: rgba(250, 73, 8, 0.849) !important;
}
.btn-primary:hover, .products-container button, .products-container a{
    background-color: rgba(250, 73, 8, 0.849);
    border-color:rgba(250, 73, 8, 0.849) ;
}
.btn-primary:hover, .products-container button:hover, .products-container a:hover{
    background-color:rgba(250, 73, 8, 0.849);
    border-color:rgba(250, 73, 8, 0.849) ;
}

.networks-container ul li a, .ul-list a{
    color:#1db439;
}
.networks-container ul li a:hover, .ul-list a:hover{
    color:#1db4398a;
}
.primary-btn{
    /* padding: 20px 0; */
    /* height: 60px; */
    position: relative;
    z-index: 0;
}
.products-container{
    /* margin: 10px 0; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-principal{
    width: 12rem;
}

nav{
    padding: 0 1rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 8;
    background-color: #282a2ad8;
    /* background-color: rgba(54, 163, 236, 0.8); */
}
.logo-container, .menu{
    /* width: 50px;
    height:50px; */
    line-height: 30px;
}
.logo-container{
    border: none;
}
.logo{
    width: 2.5rem;
    height: auto;
    border-radius: 50%;
    /* usar border de imagen no de contenedor, shadow */
}
.dropdown-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    /* background-color: transparent; */
}
.menu-icon{
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.39);
}
.menu-icon:hover{
    color: rgb(255, 255, 255);
}
/* ---- menu mobile ----*/
/* z-index menu */
.z-index-menu{
    /* definir tipo de medida */
    width: 100vw;    
    height: 100%;
    position: fixed;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.904);
    border: none;
}
.close{
    width: 60px;
    height:60px;
    background-color: transparent;
    border:none;
    position: absolute;
    top: 10px;
    right: 10px;
}
.close-icon{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.603);
}
.close-icon:hover{
    color: rgb(255, 255, 255);
}
/* esta clase no se debe usar en mobile, es mas practica en desktop */
/* .close:hover{
    margin: 10px;
    width: 40px;
    height:40px;
    background-size: 65px;
    background-position: center;
    border:2px solid rgba(93, 238, 49, 0.918);
    /* background-color: transparent; 
     background-color: rgb(161, 158, 154);
} */
.ul-list{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid orangered; */
    list-style: none;
}
.ul-list li{
    margin: 10px 0;
    width: 100%;
    /* height: 50px; */
    font-size: 2rem;
    line-height: 2.4;
    text-align: center;
}
.ul-list li:hover{
    background-color: rgba(78, 75, 78, 0.952);
}
.ul-list a{
    width: 100%;
    text-decoration: none;
}
/* menu desktop */
.menu-desktop{
    display: none;
}
header{
    height: 500px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}

.logo-txt{
    height: 100%;
    background-image: url(./assets/logos/bensof-web.jpg);
    background-size:300px;
    background-attachment:fixed;
    /* background-position:center; */
    background-repeat:repeat;
}
/* codigo del titulo en h3 */
/* .title-container{
    height: 100%;
    display: flex;    
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
} */

main{
    height:auto;
}

/* seccion de los acordeones */
.acordion-list{
    margin: 0;
    padding: 0 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    line-height:2;
}
.accordion-li{
    margin: 0 1rem;
    color: #1db439 !important;
}

.carousel-bstrp{
    width: 100%;
}
/* modal */
.no-scroll{
    overflow: hidden;
}
.secciones{
    height: auto;
    display: flex;
    flex-flow: row wrap;
}
.services-container{
    display: none;
}

.products{
    /* background-color:#282a2a5e;   */
    background-color: rgba(43, 45, 46, 0.466);

}
/* imagenes del carrusel */
/* adaptar imagenes size al carrusel */
/* .carousel-modal-container{
} */
.carousel-modal-container img{
    width: 100%;
    height: 30rem;
    /* height: 100%; */
}
/* intento de lightbox clases de artesanias omar */
.z-index{
    position:fixed;
    display: none;
}
.z-index:visited{
    position:fixed;
    top: 0;
    z-index: 10;
    display: block;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.9);
}
.image{
    position: static;
    width: 90%;
    margin: 50% auto;
}


.us{
    /* background-color: lightcoral; */
    padding:3rem 1.5rem;
    /* height: 600px; */
    display: flex;
    justify-content: center;
}

.us-container{
    /* width: 80%; */
    /* padding: 20px ; */
    /* height: 100%; */
    background-image: url(./assets/us/teamwork.svg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
/* .us-container h3{
    /* difinir el tipo de direccion del texto */
    /* text-align: center; *
} */
.us-text-content{
    margin: 0;
    /* definir si darle un alto especifico para las mediaqueries */
    max-height: 500px;
    overflow: hidden;
}

/* formulario   -- validarlo */
.form-section{
    /* settear en los mediaqueries */
    padding: 20px 0;
}
form{
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    height:auto;
    display: flex;
    flex-flow: column nowrap;
}
.hidden{
    display: none;
}

.btn-submit{
    margin: 0 auto;
    width: 80%;
    height: 30px;
}

.btn-send{
   width: 100%;
}



footer{
    height: auto;
    background-color: rgb(40, 42, 42);
    color: rgb(251, 251, 251);
}
.contact-container{
    padding: 0 10px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    align-items: center;
}
.logo-txt-container-footer{
    width: 10rem;
    height:8rem;
    border: none;
    background-image: url(./assets/logos/bensof-web.png);
    background-size: 10rem;;
    background-attachment:scroll;
    background-position:center;
    background-repeat:no-repeat;
    background-color: transparent;
}
.contact-container ul{
    padding: 20px 0;
    /* margin: 0 auto;
    width: 80%; */
}
.contact-container ul li{
    font-size: 1.2rem;
    line-height: 3;
    text-align: center;
    list-style: none;
}

.networks-container{
    padding: 10px;
    height: 4rem;
    border-top: 1px solid rgba(17, 17, 17, 0.719);
}
.networks-container ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.networks-container ul li{
    margin-right: 10px;
    list-style: none;
}

.networks-container ul li i{
    font-size: 1.5rem;
}


/* --------- mediaqueries  desktop --------*/
/* 520 */
@media only screen
  and (min-device-width: 520px)
  and (-webkit-min-device-pixel-ratio: 1) {
    /* .us-container{
        /* padding: 0 2.5rem; *
    } */
  }

/*720 */
@media only screen
  and (min-device-width: 720px)
  and (max-device-width: 1920px)
  and (-webkit-min-device-pixel-ratio: 1) {
    /* configuraciones generales */
    /*ocultando el menu mbile */
    .dropdown-menu-container, .z-index-menu{
        display: none;
    }
    nav{
        padding: 0 2rem;
    }
    /* menu desktop */
    .menu-desktop{
        margin-right:10px;
        width: 450px;
        display: block;
    }
    .menu-desktop ul{
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        /* font-size: 1.5rem; */
        list-style: none;
    }
    .menu-desktop ul li{
        font-weight:600;
        /* background-color: black; */
        color:#1db439;
    }
    .menu-desktop a{
        text-decoration: none;
    }
    .menu-desktop a:hover{
        color:#1db4398a;
    }
    /* header */
    header{
        height: 600px;
    }
    /* .btn-principal{
        /* height: 80px; *
    } */
    /* ocultando la seccion acordeon de servicios*/
    .acordion-container{
        display: none;
    }

    /* carrusel */
    .carousel-bstrp{
        margin: 0 auto;
        max-width: 50%;
    }
    /* mostrando la seccion servicios */
    .services-container{
        /* height: 500px; */
        display: flex;
        /* display: grid;
        grid-template-columns: 60% 30%;
        grid-template-rows: 50% ;        /* display: flex;
        justify-content: space-between;
        flex-flow: row wrap; *
        border: 2px solid blue; */
    }
    .column1{
        width: 60%;
        display: grid;
        grid-template-rows: 50%;
        background-color:#282a2a5e;
    }
    .column2{
        width: 40%;
        display: grid;
        grid-template-rows: 33%;
    }
    .links-to-services1, .links-to-services{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        align-items: center;
        text-align: center;
        /* border: 1px solid rgba(17, 17, 17, 0.719); */
        border: 1px solid rgba(250, 73, 8, 0.849) ;
    }
    .estampados-link, .bordados-link, .confecciones-link, .trazos-link, .detalles-link{
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #282a2ad8;
    }
    .estampados-link{
        /* width: 60%; */
        /* height: 400px; */
        background-image: url(./assets/services-img/serigrafía-en-Rosario-min.jpg);
    }
    .bordados-link{
        background-image: url(./assets/services-img/bordado-a-mano.jpg);
    }
    .confecciones-link{
        background-image: url(./assets/services-img/confeccion-grande.jpg);
    }
    .trazos-link{
        background-image: url(./assets/services-img/trazo-corte.jpg);
    }
    .detalles-link{
        background-image: url(./assets/services-img/maxresdefault.jpg);
    }
    .links-to-services{
        /* width: 100%; */
        height: 333.33px;
    }
    .services-a{
        padding-top: 40%;
        width: 100%;
        height:100%;
        background-color: #282a2a5e;
        color: #ffffffe3  ;
        /* line-height:14; */
    }
    .services-a:hover{
        color: #fff;
    }

    /* carrusel */
    .carousel-item{
        width: 100%;
    }
    .carousel-item img{
        height: 600px;
    }
        
    .us-container{
        width: 30rem;
    }
    /* formulario */
    .form-section{
        padding:140px;
        border-top:1px solid #282a2a5e;
    }
    form{
        max-width: 500px;
        /* border: 1px solid orangered; */
    }

    footer{
        padding: 0 140px;
    }
    .logo-txt-container-footer{
        width: 14rem;
        /* height: 12rem; */
        background-size: 14rem;
    }
}




/* /* codigo de la seccion ver mas, la de los gatitos... guardar en otro lugar junto con la de js y html 
.img-container{
    /* poner un minimo de width para que sea wrap mediaquerie
    width: 100%;
    height: 200px;
    background-color: #ccc;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReNPp2Rs5LuDV3yGNxqr2zObtkIj2f4Jy5rg&usqp=CAU);
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid orangered;
}

.btn-container{
    padding: 5px 0;
    width: 100%;
    height: auto;
    background-image: none;
    background-color: #ffff;
    text-align: center;
}

.see-more{
    width: 46px;
    height: 46px;
    background-color: rgba(249, 249, 252, 0.76);
    background-size: 30px;
    background-position: center;
    border-radius: 50%;
}
.see-more:hover{
    border: 4px solid rgba(139, 6, 247, 0.753);
}
 */